# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env
.env
.env.*
secrets/
*.pem

# Build outputs
dist/
build/
coverage/
.next/
out/
volumes/
sqlite-admin/

# OS / IDE
.DS_Store
.vscode/
.idea/

# Docker / misc
*.pid

# /game compiled .js
game/client/src_cli/**/*.js
game/common/**/*.js

# Typescript build cache
*.tsbuildinfo
game/common/tsconfig.tsbuildinfo

# Platform-specific lockfiles
game/package-lock.json

# Documentation
.opencode
